@model PNN.Web.Data.Entities.Park

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.3.1/css/all.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" />
<link rel="stylesheet" href="~/css/animaciones.css" />
<hr />
<div class="row">
    <hr />
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-info">
                <h6 style="color:white;">Detalles del @Html.DisplayFor(model => model.Name)</h6>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <li class="list-group-item">
                            <div class="input-group form-group" style="align-content: center;justify-content: center">
                                <center><img src="@Url.Content(Model.ImageUrl)" alt="Image" style="height:100%; width: 100%;" /></center>
                            </div>
                        </li>
                    }
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.Name):</b>
                                @Html.DisplayFor(model => model.Name)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.Creation):</b>
                                @Html.DisplayFor(model => model.Creation)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.Height):</b>
                                @Html.DisplayFor(model => model.Height)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.Extension):</b>
                                @Html.DisplayFor(model => model.Extension)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.Temperature):</b>
                                @Html.DisplayFor(model => model.Temperature)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <span class="">
                                    <i class="fas fa-thumbs-up btn-primary" title="Me gusta">Me gusta</i><span class="badge badge-light">@Html.DisplayFor(model => model.Like)</span>
                                </span>
                            </span>
                        </div>
                    </li>
                </ul>
                <br />
                <div class="form-group float-righ">
                    <a asp-action="Index" class="btn btn-success">Volver</a>
                    <a asp-action="EditPark" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <br /><br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="input-group form-group">
                    <h3>@Html.DisplayFor(model => model.Name)</h3>
                    <hr />
                    
                </div>
                <div class="col-md-12">
                    <p style="text-align:justify;">
                        @Html.Raw(Model.Description)
                    </p>
                    <hr class="btn-light" />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="text-align:justify;">
                            @Html.Raw(Model.Flora)
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p style="text-align:justify;">
                            @Html.Raw(Model.Wildlife)
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr class="btn-light" />
                    <p style="text-align:justify;">
                        @Html.Raw(Model.Communities)
                    </p>
                    <hr class="btn-light" />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div id="masTexto"></div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "iDisplayLength": -1,
                "aLengthMenu": [[2, 5, 10, 50, 500, -1], [2, 5, 10, 50, 500, "Todos"]],
                "bLengthChange": true,
                "bPaginate": true,
                "responsive": true,
                "language": {
                    "decimal": ".",
                    "thousands": ",",
                    "url": "../../js/Spanish.json",
                    "select": {
                        rows: {
                            _: "[%d]",
                            0: " ",
                            1: "[1]"
                        }
                    }
                },
                "bDestroy": true,
                "bJQueryUI": true
            });
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Owners/DeleteContent/' + item_to_delete;
            });
            $('.slide_button').click(function () {
                $('.slide').animate({
                    height: 'toggle'
                }, 1500, function () {
                });
            });
        });
    </script>
}
