@model PNN.Web.Data.Entities.User

@{
    ViewData["Title"] = "Details";
}

<br />
<hr />
<div class="row">
    <hr />
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-info">
                <h6 style="color:white;">Detalles del Usuario</h6>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.FirstName):</b>
                                @Html.DisplayFor(model => model.FirstName)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.LastName):</b>
                                @Html.DisplayFor(model => model.LastName)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.Email):</b>
                                @Html.DisplayFor(model => model.Email)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.CellPhone):</b>
                                @Html.DisplayFor(model => model.CellPhone)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.Address):</b>
                                @Html.DisplayFor(model => model.Address)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b># Publicaciones:</b>
                                @Html.DisplayFor(model => model.Contents.Count)
                            </span>
                        </div>
                    </li>
                </ul>
                <br />
                <a asp-action="Index" class="btn btn-success">Volver</a>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
                <a asp-action="AddContent" asp-route-id="@Model.Id" class="btn btn-primary">Publicar</a>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="input-group form-group">
            <h3>Publicaciones</h3>
        </div>
        @if (Model.Contents.Count == 0)
        {
            <h4>No hay contenido agregado</h4>
        }
        else
        {
            <table class="table">
                <thead>

                </thead>
                <tbody>
                    @foreach (var item in Model.Contents)
                    {
                        <tr class="btn-light">
                            <td>
                                <div class="row">
                                    <div class="col-md-3">
                                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                                        {
                                            <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
                                        }
                                        else
                                        {
                                            <img src="~/images/Contents/noimagen.png" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
                                        }
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DisplayFor(model => model.FullName)
                                        <p>
                                            <a class="badge badge-warning">@Html.DisplayFor(modelItem => item.ContentType.Name) <i style="font-size:9px;">[ @Html.DisplayFor(modelItem => item.DateLocal) ]</i></a>
                                        </p>
                                        <p>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </p>
                                        <a asp-action="EditContent" asp-route-id="@item.Id" class="badge badge-success">Editar</a>
                                        <button data-id="@item.Id" class="badge badge-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i>Eliminar</button>
                                        <hr class="btn-light" />
                                        <span>
                                            <a class="badge badge-light">
                                                Me gusta <span class="badge badge-success">@Html.DisplayFor(modelItem => item.Like)</span>
                                            </a>
                                            <a asp-action="DetailsContent" asp-route-id="@item.Id" class="badge badge-primary">
                                                Ver Comentarios <span class="badge badge-primary"></span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Owners/DeleteContent/' + item_to_delete;
            });
        });
    </script>
}

