@model PNN.Web.Data.Entities.Content
@{
    ViewData["Title"] = "DetailsContent";
}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.3.1/css/all.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" />
<link rel="stylesheet" href="~/css/animaciones.css" />
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-info">
                <h6 style="color:white;">Detalles de la publicación</h6>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <li class="list-group-item">
                            <div class="input-group form-group" style="align-content: center;justify-content: center">
                                <center><img src="@Url.Content(Model.ImageUrl)" alt="Image" style="height:100%; width: 100%;" /></center>
                            </div>
                        </li>
                    }
                    <li class="list-group-item">
                        <span class="">
                            <b>Usuario:</b>
                            @Html.DisplayFor(model => model.User.FullName)
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="">
                            <b>@Html.DisplayNameFor(model => model.ContentType.Name):</b>
                            @Html.DisplayFor(model => model.ContentType.Name)
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="">
                            <b>@Html.DisplayNameFor(model => model.Description):</b>
                            @Html.DisplayFor(model => model.Description)
                        </span>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <i class="fas fa-comment btn-info" title="Commentarios">Comentarios</i><span class="badge badge-light">@Html.DisplayFor(model => model.Comments.Count)</span>
                            </span>
                            <hr />
                            <span class="">
                                <i class="fas fa-thumbs-up btn-primary" title="Me gusta">Me gusta</i><span class="badge badge-light">@Html.DisplayFor(model => model.Like)</span>
                            </span>
                        </div>
                    </li>
                </ul>
                <br />
                <a asp-action="EditContent" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
                <a asp-action="Details" asp-route-id="@Model.User.Id" class="btn btn-success">Volver</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="input-group form-group">
            <h3>Comentarios</h3>
            <hr />
            <a asp-action="AddCommentToContent" asp-route-id="@Model.Id" class="btn"><i class="fas fa-plus-circle"> Comentar</i></a>
        </div>
        @if (Model.Comments.Count == 0)
        {
            <h5>No hay comentarios para esta publicación.</h5>
        }
        else
        {
            <table class="table table-hover" id="MyTable">
                <thead>
                    <tr>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comments)
                    {
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <a class="badge badge-warning">@Html.DisplayFor(modelItem => item.User.FullName) <i style="font-size:9px;" class="fas fa-calendar btn-light"> [  @Html.DisplayFor(modelItem => item.Date) ]</i></a>
                                        </p>
                                        <p>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </p>
                                        <a asp-action="EditCommentToContent" asp-route-id="@item.Id"><i class="fas fa-edit btn-success" title="Editar"> Editar</i></a>
                                        <a data-id="@item.Id" class="deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash-alt btn-danger" title="Eliminar"> Eliminar</i></a>
                                        <span>
                                            <a class="btn btn-link">
                                                <i class="fas fa-thumbs-up btn-primary" title="Me gusta"></i><span class="badge badge-light">@Html.DisplayFor(modelItem => item.Like)</span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "iDisplayLength": -1,
                "aLengthMenu": [[5, 10, 50, 100, 500, -1], [5, 10, 50, 100, 500, "Todos"]],
                "bLengthChange": true,
                "bPaginate": true,
                "keys": true,
                "responsive": true,
                "language": {
                    "decimal": ".",
                    "thousands": ",",
                    "url": "../../js/Spanish.json",
                    "select": {
                        rows: {
                            _: "[%d]",
                            0: " ",
                            1: "[1]"
                        }
                    }
                },
                "bDestroy": true,
                "bJQueryUI": true
            });
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Owners/DeleteCommentToContent/' + item_to_delete;
            });
        });
    </script>
}
