@model PNN.Web.Data.Entities.Content
@{
    ViewData["Title"] = "DetailsContent";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-info">
                <h6 style="color:white;">Detalles de la publicación</h6>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                    <li class="list-group-item">
                        <div class="input-group form-group" style="align-content: center;justify-content: center">
                            <center><img src="@Url.Content(Model.ImageUrl)" alt="Image" style="height:100%; width: 100%;" /></center>
                        </div>
                    </li>
                    }
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>Usuario:</b>
                                @Html.DisplayFor(model => model.Owner.User.FullName)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.ContentType.Name):</b>
                                @Html.DisplayFor(model => model.ContentType.Name)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.Description):</b>
                                @Html.DisplayFor(model => model.Description)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.Date):</b>
                                @Html.DisplayFor(model => model.Date)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.Like):</b>
                                @Html.DisplayFor(model => model.Like)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b># Comentarios:</b>
                                @Html.DisplayFor(model => model.Comments.Count)
                            </span>
                        </div>
                    </li>
                </ul>
                <br />
                <a asp-action="EditContent" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
                <a asp-action="Details" asp-route-id="@Model.Owner.Id" class="btn btn-success">Volver</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="input-group form-group">
            <h4>Comentarios</h4>
            <a asp-action="AddCommentToContent" asp-route-id="@Model.Id" class="btn btn-primary">Comentar</a>
        </div>
        @if (Model.Comments.Count == 0)
        {
            <h5>No hay comentarios para esta publicación.</h5>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Comments.FirstOrDefault().Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comments.FirstOrDefault().Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comments.FirstOrDefault().Like)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comments.FirstOrDefault().DisLike)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Like)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DisLike)
                            </td>
                            <td>
                                <a asp-action="EditCommentToContent" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                                <a asp-action="DeleteComment" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
