@model PNN.Web.Data.Entities.User

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.3.1/css/all.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" />
<link rel="stylesheet" href="~/css/animaciones.css" />
<br />
<hr />
<div class="row">
    <hr />
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-info">
                <h6 style="color:white;">Detalles del Usuario</h6>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.FirstName):</b>
                                @Html.DisplayFor(model => model.FirstName)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.LastName):</b>
                                @Html.DisplayFor(model => model.LastName)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.Email):</b>
                                @Html.DisplayFor(model => model.Email)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.CellPhone):</b>
                                @Html.DisplayFor(model => model.CellPhone)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b>@Html.DisplayNameFor(model => model.Address):</b>
                                @Html.DisplayFor(model => model.Address)
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group form-group">
                            <span class="">
                                <b># Publicaciones:</b>
                                @Html.DisplayFor(model => model.Contents.Count)
                            </span>
                        </div>
                    </li>
                </ul>
                <br />
                <a asp-action="Index" class="btn btn-success">Volver</a>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="input-group form-group">
            <h3>Publicaciones</h3>
            <hr />
            <a asp-action="AddContent" asp-route-id="@Model.Id" class="btn"><i class="fas fa-plus-circle"> Publicar</i></a>
        </div>
        @if (Model.Contents.Count == 0)
        {
        <h4>No hay contenido agregado</h4>
        }
        else
        {
        <table class="table table-hover" id="MyTable">
            <thead>
                <tr>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Contents)
                    {
                <tr class="btn-light">
                    <td>
                        <div class="row">
                            <div class="col-md-3">
                                <section class="img-contenedor">
                                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                                        {
                                    <center>
                                        <img src="@Url.Content(item.ImageUrl)" alt="Image" />
                                    </center>
                                    }
                                    else
                                    {
                                    <center>
                                        <img src="~/images/Contents/noimagen.png" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
                                    </center>
                                }
                                </section>
                            </div>
                            <div class="col-md-9">
                                <i style="font-size:9px;" class="fas fa-user-alt btn-light"></i> @Html.DisplayFor(model => model.FullName)
                                <p>
                                    <a class="badge badge-warning">@Html.DisplayFor(modelItem => item.ContentType.Name) <i style="font-size:9px;" class="fas fa-calendar btn-light"> [ @Html.DisplayFor(modelItem => item.DateLocal) ]</i></a>
                                </p>
                                <p>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </p>
                                <span class="float-left">
                                    <a class="btn btn-link">
                                        <i class="fas fa-thumbs-up btn-primary" title="Me gusta"></i><span class="badge badge-light">@Html.DisplayFor(modelItem => item.Like)</span>
                                    </a>
                                    <a asp-action="DetailsContent" asp-route-id="@item.Id">
                                        <i class="fas fa-comment btn-info" title="Comentarios"> Comentarios</i>
                                    </a>
                                </span>
                                <span class="float-right">
                                    <a asp-action="EditContent" asp-route-id="@item.Id"><i class="fas fa-edit btn-success" title="Editar"> Editar</i></a>
                                    <a data-id="@item.Id" class="deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash-alt btn-danger" title="Eliminar"> Eliminar</i></a>
                                </span>
                                <hr class="btn-light" />
                            </div>
                        </div>
                        <br /><br /><br />
                        <div id="masTexto"></div>
                    </td>
                </tr>
                    }
            </tbody>
        </table>        
        }
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "iDisplayLength": -1,
                "aLengthMenu": [[2, 5, 10, 50, 500, -1], [2, 5, 10, 50, 500, "Todos"]],
                "bLengthChange": true,
                "bPaginate": true,
                "responsive": true,
                "language": {
                    "decimal": ".",
                    "thousands": ",",
                    "url": "../../js/Spanish.json",
                    "select": {
                        rows: {
                            _: "[%d]",
                            0: " ",
                            1: "[1]"
                        }
                    }
                },
                "bDestroy": true,
                "bJQueryUI": true
            });
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Owners/DeleteContent/' + item_to_delete;
            });
            $('.slide_button').click(function () {
                $('.slide').animate({
                    height: 'toggle'
                }, 1500, function () {
                });
            });
        });
    </script>
}

